.Main {
  font-family: monospace;
  width: 40vw;
  margin: 10vw 30vw;
  background-color: #1b1b2f;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0;
  border: 1px solid #e43f5a;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.Main:hover {
  transform: scale(1.2);
  transform: translateXY(1vh);
  background-color: #1b1b2f8c;
}

.Main img {
  height: 8vw;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.Main img:hover {
  transform: scale(1.2);
  transform: translateXY(2vh);
}

.Main .Navbar {
  text-align: center;
}

.Main a {
  margin: 15vw auto;
  display: flex;
  justify-content: space-around;
  display: inline;
}

.Main .iconSet {
  height: 8vh;
  width: 8vw;
  transition: all 0.3s ease-in-out;
}

.Main .iconSet:hover {
  transform: scale(1.2);
  transform: translateXY(10vh);
}

.Main > .About > p {
  margin: 30px 30px;
  font-size: 1.2rem;
  color: #fff;
}

.Main {
  position: absolute;
  top: 0px;
}

@media screen and (max-width: 576px){
  .Main {
    font-family: monospace;
    width: 80vw;
    margin: 10vw 10vw;
    background-color: #1b1b2f;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
    border: 1px solid #e43f5a;
    border-radius: 10px;
  }

  .Main > .About > p {
    margin: 10px 10px;
    font-size: 0.5rem;
    color: #fff;
  }

  .Main .iconSet {
    height: 4vh;
    width: 8vw;
    transition: all 0.3s ease-in-out;
  }
  
  .Main .iconSet:hover {
    transform: scale(1.2);
    transform: translateXY(10vh);
  }

}